<div class="row">

    <div class="col-sm-12" ng-if="optionType == 'Number' ">
        <div class="form-group fg-line">

            <p>{{optionBody}}</p>
            <input type="text" class="form-control" value="" ng-model="$parent.answerValue[questionId][optionId]"
                   ui-number-mask
                   placeholder="i.e: {{placeHolder}}" ng-disabled="readOnly">

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'Text' ">
        <div class="form-group fg-line">

            <p>{{optionBody}}</p>
            <input type="text" class="form-control" value="" ng-model="$parent.answerValue[questionId][optionId]"
                   placeholder="i.e: {{placeHolder}}" ng-disabled="readOnly">

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'Time' ">
        <div class="form-group fg-line">

            <p>{{optionBody}}</p>

            <div class="form-group fg-line">
                <fieldset ng-disabled="readOnly">
                    <uib-timepicker ng-model="$parent.answerValue[questionId][optionId]" minute-step="5"
                                show-meridian="false"></uib-timepicker>
                </fieldset>

            </div>

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'Date' ">

        <p>{{optionBody}}</p>

        <div class="form-group fg-line" data-ng-controller="DatepickerDemoCtrl">

            <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>

                <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                    <input ng-click="open($event, 'opened')" type="text" class="form-control"
                           datepicker-popup="{{format}}" show-weeks="false"
                           ng-model="$parent.answerValue[questionId][optionId]"
                           is-open="opened"
                           min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                           placeholder="End Date" ng-disabled="readOnly">
                </div>

            </div>

        </div>

    </div>

    <div class="col-sm-12" ng-if="optionType == 'Currency' ">
        <div class="form-group fg-line">

            <p>{{optionBody}}</p>
            <input type="text" class="form-control" value="" ng-model="$parent.answerValue[questionId][optionId]"
                   ui-money-mask
                   placeholder="i.e: {{placeHolder}}" ng-disabled="readOnly">

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'Percent' ">
        <div class="form-group fg-line">

            <p>{{optionBody}}</p>
            <input type="text" class="form-control" value="" ng-model="$parent.answerValue[questionId][optionId]"
                   ui-percentage-mask
                   placeholder="i.e: {{placeHolder}}" ng-blur="calculateResiduePercent(questionId, optionId)"
                   ng-disabled="readOnly">

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'Radio' ">
        <div class="form-group fg-line">

            <div class="radio m-b-15">
                <label>
                    <input type="radio" name="radioType" value="true"
                           ng-model="$parent.answerValue[questionId][optionId]" ng-disabled="readOnly">
                    <i class="input-helper"></i>

                    {{optionBody}}

                </label>
            </div>

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'Multiple-Choice' ">
        <div class="form-group fg-line">

            <div class="checkbox m-b-15">
                <label>
                    <input type="checkbox" value="true" ng-model="$parent.answerValue[questionId][optionId]"
                           ng-disabled="readOnly">
                    <i class="input-helper"></i>
                    {{optionBody}}
                </label>
            </div>

        </div>
    </div>

    <div class="col-sm-12" ng-if="optionType == 'List' ">
        <div class="form-group fg-line">

            <p>{{optionBody}}</p>

            <select class="form-control" data-ng-model="$parent.answerValue[questionId][optionId]" ng-options=""
                    ng-disabled="readOnly">

            </select>

        </div>
    </div>

</div>