<div class="container">

    <div class="block-header">
        <h2>Create and participate<small>let's forecast future together!</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" dropdown>
                <a href="" dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main" data-ng-controller="PollCtrl">
        <div class="pm-overview c-overflow">

            <div class="pmo-block pmo-contact hidden-xs">

            </div>

        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'template/poll-menu.html'"></ul>


            <data ui-view></data>
        </div>
    </div>
</div>
