<div class="container" data-ng-controller="PollCtrl">

    <div class="block-header">

        <h2>Create and participate
            <small>let's forecast future together!</small>
        </h2>

        <button class="btn btn-success btn-icon-text pull-right btn-wave"
                ng-click="isCreateNewButtonDisabled() || (specificPollId = undefined); clearForm() "
                data-ui-sref="pages.poll.poll-create-new"
                ng-class="{disabled: isCreateNewButtonDisabled()}"><i
                class="zmdi zmdi-plus-box"></i> Create New Poll
        </button>
    </div>

    <div class="pm-body clearfix"></div>

    <div class="card-body">

        <label>Show my polls : </label>
        <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden" data-my-poll-list="viewMyPolls">
            <label for="tw-switch" class="ts-helper"></label>
        </div>

    </div>

    <div class="card" id="profile-main">

        <div class="pm-overview c-overflow">

            <div class="card-body" ng-if="$root.searchTerm.length == 0">


                <div class="table-responsive">
                    <table ng-table="PollCtrl.tableSorting" class="table table-striped table-vmiddle">

                        <tr ng-repeat="(pollID, poll) in currentPolls">

                            <td data-title="" sortable="'isParticipated'">

                                    <i class="zmdi zmdi-notifications-none zmdi-hc-lg"
                                       ng-if="!isParticipated(pollID)"></i>
                                    <i class="zmdi zmdi-check-all zmdi-hc-lg"
                                       ng-if="isParticipated(pollID)"></i>

                            </td>

                            <td data-title="'Title'" sortable="'title'" ng-click="viewSpecificPoll(pollID)">
                                {{ poll.title | limitTo: 25 }} {{poll.title.length > 25 ? '...' : ''}}
                            </td>

                            <td data-title="'Created'" sortable="'createDate'" ng-click="viewSpecificPoll(pollID)">
                                {{ poll.createDate | date:'dd-MM-yyyy' }}
                            </td>

                            <td data-title="'Ends'" sortable="'endDate'" ng-click="viewSpecificPoll(pollID)">
                                {{ poll.endDate | date:'dd-MM-yyyy'}}
                            </td>

                            <td data-title="'Action'" sortable="'readyToPublish'">

                                <ul class="actions pull-right">
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle>
                                            <i class="zmdi zmdi-assignment-alert zmdi-hc-lg"
                                               ng-if="!poll.readyToPublish && viewMyPolls == 1"></i>
                                            <i class="zmdi zmdi-assignment-check zmdi-hc-lg"
                                               ng-if="poll.readyToPublish && viewMyPolls == 1"></i>
                                            <i class="zmdi zmdi-more-vert" ng-if="viewMyPolls == 0"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li ng-click="continueFromTemplate(pollID)">
                                                <a href="">Template</a>
                                            </li>
                                            <li ng-click="removePollTemplate(pollID)"
                                                ng-if="!poll.readyToPublish && viewMyPolls == 1" data-swal-warning>
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            </div>

            <div class="card-body" ng-if="$root.searchTerm.length > 0">

                <div class="table-responsive">
                    <table ng-table="PollCtrl.tableSorting" class="table table-striped table-vmiddle">

                        <tr ng-repeat="poll in currentPolls">

                            <td data-title="" sortable="'isParticipated'">

                                <i class="zmdi zmdi-notifications-none zmdi-hc-lg"
                                   ng-if="!isParticipated(poll.pollID)"></i>
                                <i class="zmdi zmdi-check-all zmdi-hc-lg"
                                   ng-if="isParticipated(poll.pollID)"></i>

                            </td>

                            <td data-title="'Title'" sortable="'title'" ng-click="viewSpecificPoll(poll.pollID)">
                                {{ poll.poll.title | limitTo: 25 }} {{poll.poll.title.length > 25 ? '...' : ''}}
                            </td>

                            <td data-title="'Created'" sortable="'createDate'" ng-click="viewSpecificPoll(poll.pollID)">
                                {{ poll.poll.createDate | date:'dd-MM-yyyy'}}
                            </td>

                            <td data-title="'Ends'" sortable="'endDate'" ng-click="viewSpecificPoll(poll.pollID)">
                                {{ poll.poll.endDate | date:'dd-MM-yyyy'}}
                            </td>

                            <td data-title="'Action'" sortable="'readyToPublish'">

                                <ul class="actions pull-right">
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle>
                                            <i class="zmdi zmdi-assignment-alert zmdi-hc-lg"
                                               ng-if="!poll.poll.readyToPublish && viewMyPolls == 1"></i>
                                            <i class="zmdi zmdi-assignment-check zmdi-hc-lg"
                                               ng-if="poll.poll.readyToPublish && viewMyPolls == 1"></i>
                                            <i class="zmdi zmdi-more-vert" ng-if="viewMyPolls == 0"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li ng-click="continueFromTemplate(poll.pollID)">
                                                <a href="">Template</a>
                                            </li>
                                            <li ng-click="removePollTemplate(poll.pollID)"
                                                ng-if="!poll.poll.readyToPublish && viewMyPolls == 1">
                                                <a href="">Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            </div>

        </div>

        <div class="pm-body clearfix">

            <div class="pmb-block" ng-if="isCreateNewPage() == false">

                <div class="pmbb-header">

                    <div class="col-sm-10">
                        <h2><i class="zmdi zmdi-assignment m-r-5"></i> Poll Details</h2>
                    </div>

                    <div class="col-sm-2" ng-if="!specificPoll.isOwnerPrivate">
                        <div class="lv-body pull-left">

                            <div class="lv-item media">

                                <div class="pull-left">
                                    <img class="lv-img-sm" src="{{specificPollOwner.userImageSmall}}" alt="">
                                </div>

                                <div class="media-body">
                                    <div class="lv-title"> {{specificPollOwner.userName}}</div>
                                    <small class="lv-small"> {{specificPollOwner.role}}</small>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="pmbb-body p-l-30">

                    <div class="form-group">
                        <div class="fg-line">

                            <dl class="dl-horizontal">
                                <dt>Title</dt>
                                <dd>{{ specificPoll.title }}</dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>Description</dt>
                                <dd>{{ specificPoll.description }}</dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>Create Date</dt>
                                <dd>{{ specificPoll.createDate | date:'dd-MM-yyyy , EEE'}}</dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>Available For</dt>
                                <dd>{{ specificPoll.authRole }}</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <data ui-view></data>

        </div>
    </div>
</div>