<div class="container" data-ng-controller="PollCtrl">

    <div class="block-header">
        <h2>Create and participate
            <small>let's forecast future together!</small>
        </h2>

        <ul class="actions m-t-20 hidden-xs">

                <button class="btn btn-success btn-icon-text pull-right" ng-click="createNewPoll()"><i
                        class="zmdi zmdi-plus-box"></i> Create New Poll
                </button>

        </ul>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">

            <div class="card-body">
                <div class="table-responsive">
                    <table ng-table="PollCtrl.tableSorting" class="table table-striped table-vmiddle">

                        <tr ng-repeat="(key, poll) in currentPolls">

                                <td data-title="'Title'" sortable="'title'">
                                    <a ng-click = "viewSpecificPoll(key)">{{ poll.title }}</a>
                                </td>
                                <td data-title="'Created'" sortable="'createDate'">
                                    {{ poll.createDate }}
                                </td>
                                <td data-title="'Ends'" sortable="'endDate'">
                                    {{ poll.endDate }}
                                </td>

                        </tr>

                    </table>
                </div>
            </div>

        </div>

        <div class="pm-body clearfix">

            <data ui-view></data>
        </div>
    </div>
</div>
