<div class="pmb-block">

    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Poll Details</h2>
    </div>

    <div class="pmbb-body p-l-30">

        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" class="input-lg form-control fg-input" ng-model="$root.model.poll.title">
            </div>
            <label class="fg-label">Title</label>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" class="input-lg form-control fg-input" ng-model="$root.model.poll.description">
            </div>
            <label class="fg-label">Description</label>
        </div>

        <div class="form-group fg-line" data-ng-controller="DatepickerDemoCtrl">

            <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>

                <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                    <input ng-click="open($event, 'opened')" type="text" class="form-control"
                           datepicker-popup="{{format}}" show-weeks="false" ng-model="$root.model.poll.endDate"
                           is-open="opened"
                           min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                           placeholder="End Date"/>
                </div>

            </div>

        </div>

        <div class="form-group fg-line">

            <div class="checkbox m-b-15">
                <label>
                    <input type="checkbox" value="true" ng-model="$root.model.poll.isOwnerPrivate">
                    <i class="input-helper"></i>
                    Keep me private!
                </label>
            </div>

        </div>

    </div>

</div>

<div class="clearfix"></div>

<div class="pmb-block">

    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> New Question
        </h2>
    </div>

    <div class="pmbb-body p-l-30">

        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" class="input-lg form-control fg-input" ng-model="$root.model.pollQuestion.body">
            </div>
            <label class="fg-label">Write your question here...</label>
        </div>


        <div class="col-sm-5 form-group">
            <div class="fg-line">
                <div class="select">

                    <label class="fg-label">Select an Option Type</label>

                    <select class="form-control" data-ng-model="$root.model.pollQuestion.answerType" tabindex="4"
                            ng-options="types for (typeID, types) in $root.model.pollAnswerType">

                    </select>

                </div>
            </div>
        </div>

        <div class="col-sm-6 form-group fg-float">
            <div class="fg-line">
                <input type="text" class="input-lg form-control fg-input"
                       ng-model="$root.model.pollQuestionOption.body">
            </div>
            <label class="fg-label">Add option/options ...</label>

        </div>

        <div class="col-sm-1 form-group">
            <div class="fg-line">
                <button class="btn btn-success btn-lg" ng-click="addOption()"
                        ng-class="{disabled: !$root.model.pollQuestionOption.body}">
                    <i class="zmdi zmdi-plus"></i></button>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="form-group" ng-if="pollQuestionOptions.length > 0">

            <div class="col-sm-6 m-b-20">
                <p class="f-500 m-b-20 c-black">Options: </p>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(oId, options) in pollQuestionOptions">
                        {{ options.body }}
                        <button class="btn badge bgm-cyan pull-right" ng-click="removeOption(oId)"><i
                                class="zmdi zmdi-close"></i>
                        </button>

                    </li>
                </ul>
            </div>

        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button class="btn btn-success btn-icon-text pull-right" ng-click="addQuestion()"
                        ng-class=" {hide: !isQuestionButtonDisabled()}"><i
                        class="zmdi zmdi-plus-box"></i> Add Question
                </button>
            </div>
        </div>

    </div>

</div>

<div class="clearfix"></div>

<div class="pmb-block" ng-if="pollQuestions.length > 0">

    <div class="pmbb-header">

        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Current Questions</h2>

    </div>

    <div class="pmbb-body p-l-30">
        <div class="form-group">
            <div class="fg-line" ng-repeat="(qId, questions) in pollQuestions">

                <div class="pmbb-header col-sm-1">
                    <button class="btn btn-lg bgm-cyan pull-right" ng-click="removeQuestion(qId)"><i
                            class="zmdi zmdi-close"></i>
                    </button>
                </div>

                <div class="pmbb-header col-sm-11">
                    <blockquote class="m-b-25">

                        <dl class="dl-horizontal">
                            <dt>Question Body</dt>
                            <dd>{{ questions.body }}</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>Answer Type</dt>
                            <dd>{{ questions.answerType }}</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>Options</dt>
                            <dd ng-repeat="options in questions.option">{{ options.body }}</dd>
                        </dl>

                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="pmb-block" ng-if="pollQuestions.length > 0">

    <div class="pmbb-header col-sm-4">
        <h2>
            <button class="btn btn-primary btn-lg " ng-click="submit()"> READY</button>
        </h2>
    </div>

    <div class="pmbb-header col-sm-4" style="text-align:center">
        <h2>
            <button class="btn btn-primary btn-lg " ng-click="saveTemplate()"> SAVE & EXIT</button>
        </h2>
    </div>

    <div class="pmbb-header col-sm-4">
        <h2>
            <button class="btn btn-primary btn-lg pull-right" ng-click="clearForm()"> CANCEL</button>
        </h2>
    </div>

</div>